@font-face {
  font-family: "Advent Pro";
  src:
    url("/assets/fonts/AdventPro-Light.woff2") format("woff2"),
    url("/assets/fonts/AdventPro-Light.woff") format("woff");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Advent Pro";
  font-display: swap;
  src:
    url("/assets/fonts/AdventPro-Regular.woff2") format("woff2"),
    url("/assets/fonts/AdventPro-Regular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Advent Pro";
  font-display: swap;
  src:
    url("/assets/fonts/AdventPro-Medium.woff2") format("woff2"),
    url("/assets/fonts/AdventPro-Medium.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "Advent Pro";
  font-display: swap;
  src:
    url("/assets/fonts/AdventPro-SemiBold.woff2") format("woff2"),
    url("/assets/fonts/AdventPro-SemiBold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Advent Pro";
  font-display: swap;
  src:
    url("/assets/fonts/AdventPro-Bold.woff2") format("woff2"),
    url("/assets/fonts/AdventPro-Bold.woff") format("woff");
}
@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Prata";
  font-display: swap;
  src:
    url("/assets/fonts//Prata-Regular.woff2") format("woff2"),
    url("/assets/fonts/Prata-Regular.woff") format("woff");
}
