.section {
  padding: 15px 12px 20px;
}

.title {
  margin: 0;
}

.overlayBlur {
  background: rgb(93, 93, 93, 30%);
  backdrop-filter: blur(5px);

  display: flex;
  justify-content: center;

  overflow: hidden;
  border-radius: 10px;
}

.content {
  width: 100%;
}

.list {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style-type: none;
}

.link {
  text-decoration: none;
  color: $primaryColor;
}

// img {
//   width: 100%;
//   display: block;
// }

.visualyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
