.main {
  flex: 1;
  overflow-y: auto;
  min-height: 100%;
}

.section {
  padding: 0 12px 10px;
}

.title {
  margin: 0;
}

.text {
  margin: 0;
}

.sectionTitle {
  text-align: center;
  width: 150px;
  margin: auto;
}

.monthTitle {
  text-align: center;
  width: 150px;
  margin: auto;
}

.overlayBlur {
  background: rgb(93, 93, 93, 30%);
  backdrop-filter: blur(5px);

  display: flex;
  justify-content: center;

  overflow: hidden;
  border-radius: 10px;
}

.content {
  width: 100%;
}

.list {
  margin: 0;
  width: 100%;
  list-style-type: none;
}

.link {
  width: 100%;
  text-decoration: none;
  color: $primaryColor;
  cursor: pointer;
}

.visualyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
