@import "variables";
@import "global";
@import "mixins";

body {
  @include font(16px, 19px, 400, $fontText);
  margin: 0;
  height: 100vh;
  max-width: 1920px;
  width: 100%;
  color: $primaryColor;
}

.container {
  padding: 5% 3%;

  @include tablet {
    padding: 3% 4%;
  }

  @include desktop {
    padding: 5% 15%;
  }
}

.icon {
  display: block;
  width: 24px;
  height: 24px;
}
