@mixin font($fs: 16px, $lh: 19.5px, $fw: 400, $ff: "Oswald") {
  font-size: $fs;
  line-height: $lh;
  font-weight: $fw;
  font-family: $ff;
}

@mixin tablet {
  @media (min-width: $tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}

@mixin centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin responsivePadding($prop) {
  #{$prop}: clamp($minPaddingMob, 3vw, $maxPadding);

  & {
    @media (min-width: $tablet) {
      #{$prop}: clamp($minPaddingTablet, 7vw, $maxPadding);
    }
  }

  & {
    @media (min-width: $desktop) {
      #{$prop}: clamp($minPaddingDesctop, 10vw, $maxPadding);
    }
  }
}
