@mixin font($fs: 16px, $lh: 19.5px, $fw: 400, $ff: "Playfair") {
  font-size: $fs;
  line-height: $lh;
  font-weight: $fw;
  font-family: $ff;
}

@mixin vp-768 {
  @media (min-width: $tablet-768) {
    @content;
  }
}

@mixin vp-1024 {
  @media (min-width: $desctop-1024) {
    @content;
  }
}
