$background: #181818;
$background-primary: #1c1c1c;
$primaryColor: #ffffff;

$bg-theaters: #f0e68c;
$bg-kids: #ffcccb;
$bg-sport: #add8e6;
$bgstage: #d8bfd8;
$bg-opera: background-image url("/public/img/screen-background/theater.png");
