$background: #181818;
$background-primary: #1c1c1c;

$titleText: "Playfair";
$fontText: "Oswald";

$primaryColor: #ffffff;
$secondaryColor: #e32238;

$tablet: 768px;
$desktop: 1024px;

$minPaddingMob: 12px;
$minPaddingTablet: 24px;
$minPaddingDesctop: 128px;
$maxPadding: 150px;
