//**Typograf**//
$titleText: 'Playfair';
$fontText: 'Oswald';

//**color**//
$primaryColor: rgba(229, 231, 232, 0.443);
$secondaryColor: rgb(236, 55, 72);
$isActive: rgb(229, 231, 232);
$noActive: rgb(141, 138, 138);
$surface: rgba(27, 27, 27, 0.7);

//** BreakPoints **//
$tablet: 768px;
$desktop: 1024px;

$background: #181818;
$background-primary: #1c1c1c;
